

.avatar.avatar-xxl {
    width: 7rem;
    min-width: 7rem;
    height: 7rem;
}
@media (min-width: 768.98px) {
    .avatar.avatar-xxl {
      width: 10rem;
      min-width: 10rem;
      height: 10rem;
  }
}

.avatar {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border: #dee2e6;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    line-height: 3rem;
}

.icon-rounded.icon-rounded-sm {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.bg-primary-light {
    background-color: #eaedfe;
}
.icon-rounded {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
}