  
<div class="loading-spinner text-center my-5">
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<template>
  <div class="list-group-item">
    <p data-key="commit.message" class="card-text mb-2"></p>
    <p data-fn="date" class="card-text small text-muted" data-key="commit.author.date"></p>
    <a data-fn="link" data-key="html_url" href="" class="text-decoration-none small" target="_blank">
      <i class="fab fa-git-alt"></i> See commit <span data-key="sha"></span>
    </a>
    
  </div>
</template> 