

<div class="my-3 text-center footer"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                      <a href="https://github.com/robsmitha" target="_blank">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                          <span class="sr-only">Rob Smitha Linkedin Profile</span>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://stackoverflow.com/users/12458963/rob-smitha" target="_blank">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                          </span>
                          <span class="sr-only">Rob Smitha Linkedin Profile</span>
                      </a>
                  </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/robsmitha/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                            <span class="sr-only">Rob Smitha Linkedin Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  <small>
    Shout out to 
    <a href="https://pages.github.com/">GitHub Pages</a> and 
    <a href="https://developer.github.com/v3/">GitHub Developer API</a> 
    for powering this site for free!
  </strong>
</footer>