<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<div>
  <div class="bg-dark text-white mb-3 text-center shadow">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto mb-2">
              <section class="py-2">
                <img alt="Rob Smitha Profile Image" style="height: 75px" class="img-fluid rounded-circle thumbnail m-2" src="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/images/robsmitha.png" /> 
                <h1 title="Home" class="my-0">
                    Rob Smitha
                </h1>
                <div class="row">
                  <div class="col-lg-8 col-md-10 mx-auto">
                    <p id="bio" data-key="bio" class="lead"></p>
                    <div class="row">
                      <div class="col-6">
                        <a class="btn btn-primary btn-block mb-2" href="https://www.linkedin.com/in/robsmitha/" target="_blank">
                          <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                      </div>
                      <div class="col-6">
                        <a class="btn btn-secondary btn-block" href="https://smitha-cdn.s3.us-east-2.amazonaws.com/Content/files/Rob+Smitha+Resume.pdf" target="_blank">
                          <i class="fas fa-file-pdf"></i> Resume
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          </div>
      </div>
    </div>  
  </div>  
</div>