<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<section class="pb-3">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card card-body">
          <h5 class="border-bottom border-gray pb-2 mb-1">
            <i class="fab fa-github"></i>
            Repositories
            <small class="text-muted float-right mr-2" title="Updated at">
              <i class="far fa-clock"></i>
            </small>
          </h5>
          <div class="mx-auto">
            <repos></repos>
          </div>
          <small class="d-block text-right mt-3">
            <a href="https://github.com/robsmitha" target="_blank">All Repositories</a>
          </small>
        </div>
      </div>
    </div>
  </section>