<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">

    <div class="card mb-3">
      <div class="card-body pb-2 border-bottom">
        <a href="/#/" class="btn btn-link float-right">
          <i class="far fa-arrow-alt-circle-left"></i> Back
        </a>
        <h5 class="card-title mb-1">
          <span data-fn="languageIcon" data-key="language" class="mr-2"></span>
          <span data-key="name"></span>
        </h5>
        <small class="text-muted">
          Created:
          <span data-key="created_at" data-fn="date"></span>
        </small>
      </div>
      <div class="card-body pt-2">
        <div class="loading-spinner text-center my-3">
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <h6>Description</h6>
        <p data-key="description" class="card-text mb-1"></p>
        <a data-fn="link,hidden" href="" data-key="homepage" target="_blank" class="card-link">
          <i class="fas fa-external-link-alt"></i> <span data-key="homepage"></span>
        </a>

        <h6 class="mt-2">Line Counts</h6>
        <div class="row mb-3"> 
          <languages></languages>
        </div>
        <a data-fn="link" href="" data-key="html_url" target="_blank" class="card-link">
          <i class="fab fa-github"></i> See code
        </a>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          Last updated: <span data-key="updated_at" data-fn="date"></span>
        </small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1">Recent Commits</h5>
        <small class="text-muted">
          Lastest push:
          <span data-key="pushed_at" data-fn="date"></span>
        </small>
      </div>
      <commits class="list-group list-group-flush"></commits>
    </div>
    
  </div>
</div>